@import url('https://fonts.googleapis.com/css?family=Lora&subset=cyrillic');

body {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Lora', serif;
    background-image: url("../images/fon.png");
    width: 850px;
    margin: 0 auto;
    padding: 0 20px 20px;
    outline: none;
}

img {
    width: 100%;
    border-radius: 5px;
    opacity: 1;
    transition: opacity 0.5s;
}

.hideImgBMW {
    opacity: 0.1;
    transition: opacity 0.5s;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding: 15px 0;
    font-weight: 300;
    transition: 1.5s;
}

h2 {
    font-size: 35px;
    text-align: center;
    margin: 0;
    font-weight: 300;
    padding-bottom: 10px;
}

button {
    border-radius: 5px;
    font-size: 17px;
    border: none;
    background: rgba(196, 34, 34, 0.89);
    color: #f1f1f1;
    cursor: pointer;
    width: 100%;
    height: 30px;
    margin: 15px auto;
    display: block;
    transition: width 0.5s;
}

button:hover {
    width: 60%;
}

.hideTextBMW {
    position: relative;
    top: -80px;
    opacity: 0;
}

.showTextBMW {
    position: relative;
    top: 0;
    opacity: 1;
}

p, li {
    line-height: 1.9;
    letter-spacing: 0.6px;
}